<%- include ../partials/header.ejs %>
<%- include ../partials/mainnav.ejs %>

<main class="container">

    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <h1><%= title %></h1>
            <% if(typeof displayName == 'string' && displayName) { %>
            <a href="/book-list/add" class="btn btn-primary"role = "button">
            <i class="fas-fa-plus-circle"></i>Add A Book</a>
            <% } %>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <thead class = "thead-dark">
                    <tr class>
                    <th class = "text-center">Name</th>
                    <th class = "text-center">Author</th>
                    <th class = "text-center">Published Year</th>
                    <th class = "text-center">Description</th>
                    <th class = "text-center">Price</th>
                    <% if(typeof displayName == 'string' && displayName) { %>
                    <th class = "text-center"></th>
                    <th class = "text-center"></th>
                    <% } %>

                </tr>
                </thead>
                <!-- Repeatable Row-->
                <% for(let count = 0; count < BookList.length; count++) { %>
                        <tr>
                            <td class = "text-center"><%= BookList[count].name %></td>
                            <td class = "text-center"><%= BookList[count].author %></td>
                            <td class = "text-center"><%= BookList[count].YearPublished %></td>
                            <td class = "text-center"><%= BookList[count].Description %></td>
                            <td class = "text-center"><%= BookList[count].Price %></td>
                            <% if(typeof displayName == 'string' && displayName) { %>
                            <td class = "text-center"><a href="/book-list/edit/<%= BookList[count]._id %>" class="btn btn-primary">Edit</a></td>
                            <td class = "text-center"><a href="/book-list/delete/<%= BookList[count]._id %>" class="btn btn-danger">Delete</a></td>
                            <% } %>
                        </tr>
                <% } %>
            </table>
        </div>
    </div>
    </main>

<%- include ../partials/bottomnav.ejs %>

<%- include ../partials/footer.ejs %>
